/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 20px;
}

#navbar {
  margin-bottom: 20px;
}

#navbar button {
  margin: 5px;
  padding: 10px;
}

#content {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}
